
/* Global styles */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
  }


  body {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Libre Baskerville', serif; */
	color: #686868;
	font-size: 15px;
	background-color: #6B7283;
	/* background-color: #DDD; */
}


@media only screen and (min-width: 361px) {
	
	#map-canvas{
		height: 100%;
    }
}